@font-face {
    font-family: 'PP Pangram Sans Rounded Compact';
    src: url('PPPangramSansRounded-CompactRegular.woff2') format('woff2'),
        url('PPPangramSansRounded-CompactRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow';
    src: url('PPPangramSansRounded-Bold.woff2') format('woff2'),
        url('PPPangramSansRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compact Exlight Reclined';
    src: url('PPPangramSansRounded-CompactExtralightReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-CompactExtralightReclined.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Cond';
    src: url('PPPangramSansRounded-CondensedThin.woff2') format('woff2'),
        url('PPPangramSansRounded-CondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Exbold';
    src: url('PPPangramSansRounded-ExtraboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compressed Medium Reclined';
    src: url('PPPangramSansRounded-CompressedMediumReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-CompressedMediumReclined.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compact';
    src: url('PPPangramSansRounded-CompactThinItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-CompactThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compressed ExBd';
    src: url('PPPangramSansRounded-CompressedExtrabold.woff2') format('woff2'),
        url('PPPangramSansRounded-CompressedExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Light.woff2') format('woff2'),
        url('PPPangramSansRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow ExBd';
    src: url('PPPangramSansRounded-NarrowExtraboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Medium.woff2') format('woff2'),
        url('PPPangramSansRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow Exlight Reclined';
    src: url('PPPangramSansRounded-NarrowExtralightReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowExtralightReclined.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow SmBd';
    src: url('PPPangramSansRounded-NarrowSemibold.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Slim Exlight';
    src: url('PPPangramSansRounded-SlimExtralight.woff2') format('woff2'),
        url('PPPangramSansRounded-SlimExtralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Thin.woff2') format('woff2'),
        url('PPPangramSansRounded-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Smbold';
    src: url('PPPangramSansRounded-Semibold.woff2') format('woff2'),
        url('PPPangramSansRounded-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Slim SmBd';
    src: url('PPPangramSansRounded-SlimSemiboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-SlimSemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Slim Medium Reclined';
    src: url('PPPangramSansRounded-SlimMediumReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-SlimMediumReclined.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow SmBd';
    src: url('PPPangramSansRounded-NarrowSemiboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowSemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

